/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
    height: 448px;       
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #666666;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    z-index: -1;
}
    
.logo {
    float: left;
    padding-top: 28px;
    padding-left: 247px;
    width: 179px;
    height: auto;
    order: 1;
}

.title-intro {
    max-width: 688px;
    margin: auto;
    font-family: OpenSans-Bold, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
    line-height: 75px;
    order: 2;
}

.header-menu {
    position: absolute;
    top: 45px;
    right: 245px;
    bottom: 15px; 
    width: 100%;
    display: flex;
    max-width: 462px;
    height: 10px;
    margin: 0; 
}

.menu {
    color:#ffffff;
    text-decoration: none;
    font-family: OpenSans-Regular, sans-serif;
}

.header-menu li {
    list-style-type: none;
    margin-right: 25px; 
}

/*END HEADER*/

/*TRAND*/
.on-trand {
    height: 442px;
    position: relative;
    
}
.title-on-trand {
    font-family: Opensans-Bold;
    font-size: 20px;
    line-height: 29px;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
}

.title-on-trand::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 5%;
    height: 4px;
    background-color: #e1d9bd;
    transform: translateX(-50%);
    z-index: -1;
}

.list-on-trand {
    display: flex;
    padding-top: 40px;
    width: 100%;
    gap: 2px;
}

.item-on-trand {
    flex: 1;
}

.title-item-on-trand {
    position: relative;
    font-family: Open-sans Bold, sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 14px;     
}

.pic1 {
    position: relative;
    background-image: url(../images/trend1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 414px;
    height: 320px;
} 

.pic2 {
    position: relative;
    background-image: url(../images/trend2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 414px;
    height: 320px;
} 

.pic3 {
    position: relative;
    background-image: url(../images/trend3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 414px;
    height: 320px;
} 

.pic4 {
    position: relative;
    background-image: url(../images/trend4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 414px;
    height: 320px;
} 

.frame-on-trand {
    position: absolute;
    border: solid;
    border-color: #e1d9bd;
    width: 364px;
    height: 200px;
    left: 17px;
    bottom: 16px;
    z-index: 1;
}

.link-category {
    position: relative;
    display: inline-block;
    font-family: Open-sans Bold, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
    color: #e1d9bd;
    margin-left: 14px;
    top: 39px;
    z-index: 1;
}


/*ШРИФТЫ*/
@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf),
         url(../fonts/OpenSans-Bold.woff),
         url(../fonts/OpenSans-Bold.woff2);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf),
         url(../fonts/OpenSans-Regular.woff),
         url(../fonts/OpenSans-Regular.woff2);
}